<?xml version="1.0" encoding="UTF-8"?>
<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        id        = "web.application.attendancesystem"
        version   = "1.0.0"
        xmlns:gap = "http://phonegap.com/ns/1.0">
    <name>ODHC</name>

    <description>
       This is a ios Phonegap Application
	   </description>

    <author href="http://phonegap.io" email="dev@phonegap.apache.org">
        Apache Phonegap Team
    </author>

    <access origin="*"/>
  

    <!-- <content src="http://mysite.com/myapp.html" /> for external pages -->
    <content src="index.html" />
    <platform name="ios">
        <preference name="Orientation" value="portrait" />
    </platform>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="stay-in-webview" value="true" />
	<preference name="phonegap-version" value="3.3.0" />
     <preference name="loglevel" value="DEBUG" />
      <preference name="SplashScreen" value="splash" />
      <preference name="backgroundColor" value="0xFFF" />
      <preference name="loadUrlTimeoutValue" value="20000" />
      <preference name="InAppBrowserStorageEnabled" value="true" />
      <preference name="disallowOverscroll" value="true" />
   	  <preference name="SplashScreen" value="screen" />
      <preference name="SplashScreenDelay" value="10000" />
     <platform name="ios">       
	   <icon height="76" src="res/ios/Icon-App-76x76@1x.png" width="76" />
        <icon height="152" src="res/ios/Icon-App-76x76@2x.png" width="152" />
        <icon height="120" src="res/ios/Icon-App-60x60@2x.png" width="120" />
        <icon height="180" src="res/ios/Icon-App-60x60@3x.png" width="180" />
        <icon height="40" src="res/ios/Icon-App-40x40@1x.png" width="40" />
        <icon height="80" src="res/ios/Icon-App-40x40@2x.png" width="80" />
	<icon height="29" src="res/ios/Icon-App-29x29@1x.png" width="29" />
        <icon height="58" src="res/ios/Icon-App-29x29@2x.png" width="58" />
		</platform>
     
      	<gap:platform name="ios" />
      	<gap:platform name="android" />
      	<gap:platform name="winphone" />
      
    
     <splash src="res/homecare_logo.png" />
     <gap:splash src="images/Default-568h@2x~iphone_640x1136.png" gap:platform="ios" width="640" height="1136" />
     	<gap:splash src="images/Default-750@2x~iphone6-portrait_750x1334.png" gap:platform="ios" width="750" height="1334" />
		<gap:splash src="images/Default-Portrait~ipad_768x1024.png" gap:platform="ios" width="768" height="1024" />
		<gap:splash src="images/Default-Portrait@2x~ipad_1536x2008.png" gap:platform="ios" width="1536" height="2008" />
		<gap:splash src="images/Default-1242@3x~iphone6s-portrait_1242x2208.png" gap:platform="ios" width="1242" height="2208" />
		<gap:splash src="images/Default@2x~iphone_640x960.png" gap:platform="ios" width="640" height="960" />
		<gap:splash src="images/Default-750@2x~iphone6-landscape_1334x750.png" gap:platform="ios" width="1334" height="750" />
		<gap:splash src="images/Default-1242@3x~iphone6s-landscape_2208x1242.png" gap:platform="ios" width="2208" height="1242" />
		<gap:splash src="images/Default-Landscape@2x~ipad_2048x1496.png" gap:platform="ios" width="2048" height="1496" />
		<gap:splash src="images/Default-Landscape~ipad_1024x768.png" gap:platform="ios" width="1024" height="768" />
     
     <icon src="res/homecarelogo.png" />
  <gap:plugin name="org.apache.cordova.core.camera" />

<gap:plugin name="org.apache.cordova.core.geolocation" />
<gap:plugin name="org.apache.cordova.core.dialogs" />
<gap:plugin name="org.apache.cordova.device" />
<gap:plugin name="org.apache.cordova.device-motion" />
<gap:plugin name="org.apache.cordova.device-orientation" />
<gap:plugin name="org.apache.cordova.network-information" />
<gap:plugin name="org.apache.cordova.dialogs" />
<gap:plugin name="org.apache.cordova.splashscreen" />

<gap:plugin name="hu.dpal.phonegap.plugins.uniquedeviceid"/>

<platform name="ios">
        <preference name="Orientation" value="portrait" />
    </platform>

	<feature name="http://api.phonegap.com/1.0/device"/>
    	<feature name="http://api.phonegap.com/1.0/battery"/>
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>

    <!-- Deprecated plugins element. Remove in 3.0 -->
   
</widget>
